* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f5f6f8;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.navbar .left a {
  color: #e53935;
  text-decoration: none;
  font-weight: 500;
}

.center {
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  color: #e53935;
  font-weight: bold;
  font-size: 18px;
}

.center p {
  font-size: 12px;
  color: #e53935;
}

.right .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right p {
  font-size: 12px;
  color: gray;
}


.main {
  padding: 40px;
  text-align: center;
}

.main h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  margin-bottom: 30px;
}


.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.card h3 {
  margin: 15px 0 10px;
}

.card p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}


.icon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon.red {
  background: #fdecea;
  color: #e53935;
}

.icon.outline {
  background: #fdecea;
  color: #e53935;
}


.btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.btn.red {
  background: #e53935;
  color: #fff;
}

.btn.red:hover {
  background: #c62828;
}

.btn.outline {
  border: 2px solid #e53935;
  background: transparent;
  color: #e53935;
}

.btn.outline:hover {
  background: #e53935;
  color: #fff;
}


.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.stat-card {
  width: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.stat-card p {
  color: gray;
}

.stat-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-icon.orange {
  background: #fff3e0;
  color: #ef6c00;
}

.stat-icon.green {
  background: #e8f5e9;
  color: #2e7d32;
}